/*---- fonts ----*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,600');


form {
  font-family: 'Maven Pro', sans-serif !important;
}

div.profile-img-box {
  width: 200px;
  height: 150px;
}

img.profile-img {
  min-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
}

.user-metrics {
  border: solid;
  border-color: #ffffff #ffffff #4FADFE !important;
  border-width: 1px;
  font-family: 'Maven Pro', sans-serif !important;
}

.user-metrics .metric {
  margin-bottom: 15px;
  margin-top: 15px;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.header-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.49),rgba(0, 0, 0, 0.89)),url('https://images.unsplash.com/1/iphone-4-closeup.jpg?dpr=1&auto=format&crop=middle&fit=crop&w=2000&h=700&q=80');
}

.is-outlined {
  background-color:transparent;
  color:#fff;
}

.panel-block.section p {
  font-size: 17px;
  line-height: 1.4;
  color:#95A5A6;
}

.section.main {
  background-color:#F0F0F0;
}

.icon-block {
  font-size: 5em;
}

.rm-bottom-padding {
  padding-bottom: 0px !important; 
}

.rm-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.rm-bottom-margin {
  margin-bottom: 0px !important; 
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

h1.title {
  font-family: 'Roboto', sans-serif;
}

label {
  font-family: 'Raleway' sans-serif !important;
}

p.uk-text-muted {
  font-family: 'Roboto', sans-serif;
}

.colored-bg {
  background: #fafafa;
}

div.nav-right a {
  text-decoration: none;
}

a.button {
  text-decoration: none;
}

.nav {
  height: 4rem;
}

.reduce-paragraph {
  margin-left: 60px;
  font-size: 15px;
  color: black;
}

div.column img {
  width: 100%;
  height: 100%;
}

span.icon-color {
  color: #00b289;
}

.bg-tiny {
  height: 5px;
  background: #34e89e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.third-description {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.third-title {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px; 
}

a#credit {
  text-decoration: none;
}

.topmost-bar-design {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    height: 5px;    
}

a {
  text-decoration: none !important;
}

a.focus-color:hover {
  color: #999999 !important;
}

#remove-underline {
  text-decoration: none;
}

div.hero-head {
    background-color: #ffffff !important;
}


h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

.card-title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.head {
  font-family: 'Roboto', sans-serif;
}

.sub {
  font-family: 'Maven Pro', sans-serif !important;
}

.card-date {
  font-family: 'Maven Pro', sans-serif !important;
}

.footer {
    padding-bottom: 48px;
}

.footer {
  background-color: rgb(51, 53, 52);
  padding-bottom: 10px ;
  padding-top: 20px;
  font-size: 12px;
}

.focus-color {
  color: #28D0FE;
}