a {
    text-decoration: none !important;
    color: inherit;
}

p {
    margin: 0px;
}


.filters {
    cursor: pointer;
}


.filters:hover {
    color: #3097d6;
}

.filter-lists {
    padding: 5px;
}

.content-block {
    margin-left: 30px;
    margin-right: 30px;
}

.sermon-box {
    height: 140px;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
}

/* all content right of the sermon art*/

.sermon-right-box {
    height: 84px;
    padding: 0px;
    margin-top: 28px;
    margin-bottom: 28px;
}

.sermon-right-box-mobile {
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* end of all content right of the sermon art*/

/*---  sermon art ---*/
.sermon-art {
    box-shadow: 0 4px 2px -2px gray !important;
    height: 100%;
}

.sermon-box-art {

    height: 110px;
    margin-top: 15px;
    margin-bottom: 15px;

}
/*--- end sermon art ---*/

/* the buttons */
#download-button {
    margin-bottom: 2.5px;
}

#favourite-button {
    margin-top: 2.5px;
}
/* end of the buttons */

.sermon-box-data {

}

.sermon-box-status {
  display: inline;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Rubik', sans-serif;
  padding: 0px;
}


.blue-text {
  color: #3097d6;

}


/* NEW BOOSTRAPT BLACK BUTTON*/
.btn-black {
  color: #ffffff;
  background-color: #0F0C12;
  border-color: #fff;
}

.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
  color: #ffffff;
  background-color: #3097D6;
  border-color: #fff;
}

.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
  background-image: none;
}

.btn-black.disabled,
.btn-black[disabled],
fieldset[disabled] .btn-black,
.btn-black.disabled:hover,
.btn-black[disabled]:hover,
fieldset[disabled] .btn-black:hover,
.btn-black.disabled:focus,
.btn-black[disabled]:focus,
fieldset[disabled] .btn-black:focus,
.btn-black.disabled:active,
.btn-black[disabled]:active,
fieldset[disabled] .btn-black:active,
.btn-black.disabled.active,
.btn-black[disabled].active,
fieldset[disabled] .btn-black.active {
  background-color: #0F0C12;
  border-color: #fff;
}

.btn-black .badge {
  color: #0F0C12;
  background-color: #ffffff;
}

/* NEW BOOSTRAP PRIMARY-NEW BUTTON*/
.btn-primary-new {
  color: #ffffff;
  background-color: #3097D6;
  border-color: #FFFFFF;
}

.btn-primary-new:hover,
.btn-primary-new:focus,
.btn-primary-new:active,
.btn-primary-new.active,
.open .dropdown-toggle.btn-primary-new {
  color: #ffffff;
  background-color: #000;
  border-color: #FFFFFF;
}

.btn-primary-new:active,
.btn-primary-new.active,
.open .dropdown-toggle.btn-primary-new {
  background-image: none;
}

.btn-primary-new.disabled,
.btn-primary-new[disabled],
fieldset[disabled] .btn-primary-new,
.btn-primary-new.disabled:hover,
.btn-primary-new[disabled]:hover,
fieldset[disabled] .btn-primary-new:hover,
.btn-primary-new.disabled:focus,
.btn-primary-new[disabled]:focus,
fieldset[disabled] .btn-primary-new:focus,
.btn-primary-new.disabled:active,
.btn-primary-new[disabled]:active,
fieldset[disabled] .btn-primary-new:active,
.btn-primary-new.disabled.active,
.btn-primary-new[disabled].active,
fieldset[disabled] .btn-primary-new.active {
  background-color: #3097D6;
  border-color: #FFFFFF;
}

.btn-primary-new .badge {
  color: #3097D6;
  background-color: #ffffff;
}