/*---- fonts ----*/
@import url('https://fonts.googleapis.com/css?family=Eczar');
@import url('https://fonts.googleapis.com/css?family=Rubik');
/*---- fonts ----*/


a .churchBrand {
    font-family: 'Eczar', sans-serif;
    font-size: 30px;
    color: #000000;
    font-weight: 900;
}

a .churchBrand:hover {
    color: #3097d6 !important;
}

.no-sermon {
    font-size: 25px;
    color: red;
    font-weight: 900l
}


/* end of page heading*/
.page-heading-container {
    width: 100%;    
}

.page-heading {
    font-weight: 900;
    color: #3097d6;
}

.page-heading-box {
    padding-left: 100px;
    background-color: #f2f2f2;
    padding-top: 30px;    
    padding-bottom: 15px;    
    margin-bottom: 40px;
}
/* end of page heading*/

/* navigation bar */

.navbar-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

#navbarx {
    box-shadow: 0 4px 2px -2px #3097d6;
    margin-bottom: 0px !important;
}

/*.navbar-nav > li.active > a {
    border-radius: 20px;
    color: #fff !important;
    background-color: #3097d6 !important;
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-nav > li.active > a:hover {
    border-radius: 20px;
    color: #fff;
    background-color: #3097d6;
}*/

/* end of navigation bar */


/*--- For login page ------*/
.login-container-body {
    background-color: #3097d6;
}

.login-body {
    padding-top: 12px;
    padding-bottom: 100px;
}


.login-heading {
    font-weight: 900;
    color: #ffffff;
}
/*--- End For login page ------*/


/*--- For register page ------*/
.register-container-body {
    background-color: #f2f2f2;
}

.register-heading {
    font-weight: 900;
    color: #000000;
}

.register-body {
    padding-top: 12px;
    padding-bottom: 75px;
}

.panel-color {
    background-color: #3097d6;
    color: #ffffff;
}

#panel-color {
    background-color: #3097d6;
    color: #ffffff;
}

.register-btn {
    background-color: #ffffff;
    color: #000000;
}

.error {
    color: red;
}

/*--- End for register page ------*/

/*----- for reset page  -------*/
.reset-container-body {
    background-color: #3097d6;
}

.reset-body {
    padding-top: 12px;
    margin-top: 40px;
    margin-bottom: 93px;
    padding-bottom: 100px;
}

.reset-heading {
    font-weight: 900;
    color: #ffffff;
}

.page-heeding-row {
    display: inline;
    text-align: center;
}
/*----- end for reset page  -------*/

#request-password {
    display: inline-block;
    text-align: center;
}

a {
    text-decoration: none !important;
    color: inherit;
}


#forgot-password {
    background-color: #ffffff;
    color: black;
}

#forgot-password:hover {
    background-color: #3097d6;
    color: white;
}




/* FULL SCREEN MODAL STYLES ----------------- */
.fullscreen .modal-dialog {
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0;
    color: #333;
}

.fullscreen .modal-content {
    height: 100%;
    min-height: 100%;
    border-radius: 0;
    color: #333;
    background: rgba(255, 255, 255, 0.97);
    overflow:auto;
}

.fullscreen .modal-body ul {
    padding: 100px 0 0 0;
}

.fullscreen .modal-body li {
    padding: 10px 0 10px 0 ;

    /*added this*/
    font-family: 'Raleway', sans-serif;
}

.fullscreen .modal-body a {
    color: #3097d6;
    font-size: 300%;
}


        .modal-header {
            border: 0px;
        }

        .fullscreen .modal-body a:hover {
            color: #303;
        }

    /*end of my addtions*/


@media (max-width: 480px){
    .fullscreen .modal-body ul {
        padding: 30px 0 0 0;
        overflow: auto;
    }

    .fullscreen .modal-body li {
        padding: 4px 0 4px 0 ;
    }

    .fullscreen .modal-body a {
        font-size: 200%;
        text-transform: uppercase;
        font-weight: 700;
    }
}
/* FULL SCREEN MODAL STYLES ----------------- */


/* Filters responsiveness ----------------- */
.filter .modal-dialog {
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0;
    color: #333;
}

.filter .modal-content {
    height: 100%;
    min-height: 100%;
    border-radius: 0;
    color: #333;
    background: rgba(255, 255, 255, 0.97);
    overflow:auto;
}

.filter .modal-body ul {
    padding: 100px 0 0 0;
}

.filter .modal-body li {
    padding: 10px 0 10px 0 ;
    font-family: 'Raleway', sans-serif;
}

.filter .modal-body a {
    color: #3097d6;
    font-size: 200%;
}

.modal-header {
    border: 0px;
}

.filter .modal-body a:hover {
    color: #303;
}


@media (max-width: 480px){
    .filter .modal-body ul {
        padding: 30px 0 0 0;
        overflow: auto;
    }

    .filter .modal-body li {
        padding: 4px 0 4px 0 ;
    }

    .filter .modal-body a {
        font-size: 100%;
        font-weight: 700;
    }
}
/* filter responsiveness ----------------- */



/* for foooter */

html {
    position: relative;
    min-height: 100%;
    background-color: #ffffff !important;
}
body {
    margin-bottom: 60px;
    background-color: #ffffff !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #3097d6;
    height: 60px;
    line-height: 60px;
    background-color: #000000;
}
/* end of footer 


/* for welcome page */
.sliderImage {
    height: 400px;
}

.jumbotron {
    margin-bottom: 0px !important;
    background-color: #fff;
    padding-bottom: 35px;
}
/* end for welcome page 