/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/sermons
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/public/uploads
/resources/views/debug.blade.php
npm-debug.log.3281276980
code_save.php